################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jsonplace/bin/Debug/net6.0
/jsonplace/obj/Debug/net6.0
/.vs/JsonPlace/DesignTimeBuild
